<!DOCTYPE html>
<html lang="">
<body>

<h1>NFTs page</h1>
<p>NFTs page</p>

{% for nft in nfts %}
    <li>
        <img src="{{ url_for('static', filename=nft.pic_path) }}" width="142" height="142">

        <form action="/nft_page" method="GET">
            <input type="hidden" name="nft_id" value="{{ nft.nft_id }}">
          <button name="nftPageButton" type="submit">Go to NFT page</button>
        </form>
    </li>
{% endfor %}

<form action="/">
  <button name="backButton" type="submit">Go back</button>
</form>

</body>
</html>