<!DOCTYPE html>
<html lang="">
<body>

<h1>My account</h1>
<p>My account</p>

<form action="/">
  <button name="backButton" type="submit">Go back</button>
</form>

<h2>My NFTs</h2>

<img src="../../pictures/img.png" alt="NFT1" width="142" height="142">

<img src="../../pictures/img_1.png" alt="NFT1" width="142" height="142">

<img src="../../pictures/img_2.png" alt="NFT1" width="142" height="142">

<img src="../../pictures/img_3.png" alt="NFT1" width="142" height="142">

<img src="../../pictures/img_4.png" alt="NFT1" width="142" height="142">

</body>
</html>